@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

.wrapper {
  position: relative;
}
.time {
  width: fit-content;
  font-family: 'Playfair Display SC', serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.date {
  position: absolute;
  top: -30px;
  padding: 3px 6px;
  background: #94d7ff;
}