.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 0;
}
.dark {
  background: dimgrey;
  color: aliceblue;
}
.light {}
.red {
  background: lightcoral;
  color: aqua;
}
