
.someClass {

}
.affairsWrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 500px;
  width: 100%;
}
.buttonsPriority {
  display: flex;
  justify-content: flex-end;
}
.btn {
  margin: 0 .3rem;
}
.affairsItem {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    ". . .";
  border-radius: 5px;
  padding: .6rem;
  margin: .3rem;
}
.affairsItem.dark {
  color: black;
}
.highPriority {
  background: #e92d2d;
}
.middlePriority {
  background: coral;
}
.lowPriority {
  background: bisque;
}
.highPriority.dark {
background: #d86464;
}
.middlePriority.dark {
background: #f29978;
}
.lowPriority.dark {
  background: #ddcbb4;
}