.someClass {

}
.affairsWrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.buttonsPriority {
  display: flex;
}
.affairsItem {
  display: flex;
  justify-content: space-between;
}