.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: .3rem 1rem;
  width: 100%;
}

.superInput {

}


.inputStyle {
  border: 1px solid transparent;
  background: white;
  color: #584e4e;
  box-shadow: 4px 4px 4px 0 #c6c1c1;
  font-size: 1.2em;
  padding: .3rem;
  transition: .3s;
}

.inputStyle:focus-visible {
  outline: none;
  box-shadow: 0 1px 7px 3px #c6c1c1;
  transition: .3s;
}
.blue {
  background: #757cff;
  color: #373737;
  box-shadow: 3px 3px 9px -1px #717171
}
.blue:focus-visible {
   box-shadow: 0 1px 7px 3px #c6c1c1;
 }
.green {
  background: green;
  color: white;
  box-shadow: 4px 4px 7px -1px #447e53;
}
.green:focus-visible {
  outline: none;
  box-shadow: 0 1px 7px 3px #447e53;
  transition: .3s;
}
.errorInput {
  border: 1px solid red;
  color: red;
}

.error {
  position: absolute;
  top: -20px;
  right: 2.5rem;
  color: red;
}