.default {
  background: #cbf4ff;
  border: 1px solid #8d8d8d;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
}
.default:focus-visible {
  outline: none;
}
.default:active {
  box-shadow: inset 0 0 6px -2px black;
}
.red {
  background: #ededed;
}
.red:hover {
  background: #8f1919;
  color: white;
}
.red:active {
  box-shadow: inset 0 0 6px 0px white;
}